*{
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #1e1e1e;
  color: white;
}

body.light {
  background-color: #f4f4f4;
  color: #111;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark .navbar {
  background-color: #e4e0e0;
  border-color: #333;
  color: #000000;
}

body.light .navbar {
  background-color: #000000;
  border-color: #ddd;
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}