.dashboard {
  min-height: 100vh;
  background: inherit;
  color: inherit;
  padding: 1px 40px;
  font-family: Arial, sans-serif;
}

.dashboard h1 {
  margin-bottom: 20px;
}

select{
  border-radius: 5px;
  background-color: rgb(248, 239, 226);
}