.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: inherit;
  color: inherit;
  padding: 20px;
}
.box1{
  max-width: 550px;
}

.box2 img{
  max-width: 350px;
  margin: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}
.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  font-size: 18px;
  color: inherit;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(17, 143, 17);
  color: white;
  border: 2px solid white;
}

.hero button:hover {
  background-color: rgb(17, 123, 17);
}

@media (max-width: 700px) {
  .hero{
    flex-direction: column;
    margin-top: 20px;

  }
  .box2 img{
    margin: 30px 0;
  }
}